body {
    background: linear-gradient(135deg, #ff97d9, #e3b2d2, #ffffff);
    font-family: Arial, sans-serif;
}

.custom-navbar {
    background-color: #ff97d9;
    padding: 15px;
}

.navbar-brand img.logo {
    width: 120px;
}

.navbar-nav .nav-link {
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}


.card {
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    max-height: 200px;
    object-fit: contain;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.price {
    font-size: 1.5rem;
    color: #28a745;
    font-weight: bold;
}

.stock {
    font-size: 1rem;
    color: #6c757d;
}

.reviews {
    font-size: 0.9rem;
    color: #ff9800;
}

.btn-primary {
    background-color: #c01d1d;
    border: none;
    transition: background-color 0.3s;

}

.boton {
    text-decoration: none;
    color: white;
}

.btn-primary:hover {
    background-color: #c82333;
}


.footer {
    margin-top: 300px;
    background-color: #ff97d9;
    padding: 20px;
    color: white;
    text-align: center;
    font-size: 14px;
}

.footer h5 {
    color: #ffffff;
    font-weight: bold;
}

.footer p {
    margin: 5px 0;
}
